{% extends "base.html" %} 
{% load static %} 
{% block content %}
<div>
    <div class="center-container  min-h-100 review-page">
        <div class="center-container p-4">
            <div class="contact">
                <h3>We are here for you! How can we help?</h3><br>
            </div>
            <div class="flex contact-responsive sp-between">
                <div class="col-12 col-lg-5">
                    <!-- Opening and Closing times -->
                    <div class=" flex f-column a-start timetable">
                        <h4>Opening and Closing Hours</h4>
                        <div class="flex sp-between">
                            <div class="col flex">
                                <span><b>Monday</b></span>
                            </div>
                            <div class="flex">
                                <span>09:00-23:00</span>
                            </div>
                        </div>                  
                        <div class="flex">
                            <div class="col flex">
                                <span><b>Tuesday</b></span>
                            </div>
                            <div class="flex">
                                <span>09:00-23:00</span>
                            </div>
                        </div>  <div class="flex">
                            <div class="col flex">
                                <span><b>Wednesday</b></span>
                            </div>
                            <div class="flex">
                                <span>09:00-23:00</span>
                            </div>
                        </div>  <div class="flex">
                            <div class="col flex">
                                <span><b>Thursday</b></span>
                            </div>
                            <div class="flex">
                                <span>09:00-23:00</span>
                            </div>
                        </div>  <div class="flex">
                            <div class="col flex">
                                <span><b>Friday</b></span>
                            </div>
                            <div class="flex">
                                <span>09:00-23:00</span>
                            </div>
                        </div>  <div class="flex">
                            <div class="col flex">
                                <span><b>Saturday</b></span>
                            </div>
                            <div class="flex">
                                <span>09:00-23:00</span>
                            </div>
                        </div>  <div class="flex">
                            <div class="col flex">
                                <span><b>Sunday</b></span>
                            </div>
                            <div class="flex">
                                <span>09:00-23:00</span>
                            </div>
                        </div>  
                    </div>
                </div>
                <br>
                <!-- Google map -->
                <div class="col-12 col-lg-6 map-container">
                    <div id="map" alt="google map"></div>
                </div>
            </div><br>
            <!-- Contact details -->
            <div>
                <h5>You can find us on:</h5>
                    <p class=""><b>Yacht Club Quay, Cobh, Co Cork, Ireland</b></p>
                <h5>Phone number:</h5>
                    <p class=""><b>353871376895</b></p>
                    <p class=""><b>353871376800</b></p>
                <h5>Email:</h5>
                    <p class=""><b>mccarthysbistro.contact@yahoo.com</b></p>
            
            </div><br>
        </div>
    </div>
</div>
{% endblock %}
