{% extends "base.html" %} 
{% load static %} 
{% block content%}

<div id="home-background-container">
    <div class="wrapper col-8 col-md-6 col-lg-4 flex f-column">
      <!-- Cover-->
      <div class="row">
        <div id="fade-container">
          <div class="row">
            <!-- Logo title -->
            <div><h2 class="logo">McCarthy's Bistro</h2></div>
            <div>
              <p class="decorated"><span>Since 2003</span></p>
            </div>
          </div>
          <!-- Slogan -->
          <div class="row">
            <div class="col">
              <p class="slogan">Unforgettable Dining, Memorable Moments</p>
            </div>
          </div>
        </div>
        {% if user.is_authenticated %}
        <!-- Link to booking page -->
          <div class="col align-self-center">
            <div class="book-btn col align-self-center"><a class="authenticate-link" href="{% url 'createbooking' %}">Book a table</a></div>
            
        </div> 
        {% else %}
        <!-- Links to Login/Register page -->
        <div class="col bck-login">
          <p>
            To enjoy all the features please <span><a class="authenticate-link" href="{% url 'account_login' %}"><b class="signup-btn">LOGIN</b></a> / <a  class="authenticate-link" href="{% url 'account_signup' %}"><b class="signup-btn">REGISTER</b></a></span>
          </p>
        </div>
        {% endif %}
        <!-- Link to about us section -->
          <a href="#about-us">
            <p class="visually-hidden">Scroll Down Icon</p>
            <div class="arrows-link-container d-none d-lg-block">
              <div class="arrow arrow-first"></div>
              <div class="arrow arrow-second"></div>
            </div>
          </a>
      </div>
    </div>
</div>

<!-- Home page content -->
<div class="row content col-10 col-lg-9">
  <div class="center-container" >
     <!-- About us section -->
     <div id="about-us">
      <h2><span class="j-center">Welcome <i class="fas fa-globe"></i></span></h2>
      <div id="about-text">
        <p>
          Welcome to McCarthy's Bistro, <a href="https://www.visitcobh.com/" target="_blank">Cobh's </a>
          premier dining destination!
          Nestled in the picturesque County Cork, Ireland, our restaurant has 
          been delighting locals and visitors alike with our exceptional cuisine 
          and warm hospitality. Step into a world of culinary excellence and embark 
          on a gastronomic journey like no other. 
          Located in the heart of Cobh, our
          restaurant offers a charming and inviting ambiance that perfectly complements
          our delectable fare. Whether you're celebrating a special occasion, enjoying
          a romantic dinner for two, or simply seeking a memorable dining experience, 
          our welcoming atmosphere sets the stage for an unforgettable meal.
       
        </p>
      </div>
      <div class="flex sp-around">
        <img src="{% static 'mccarthysbistro/media/restaurant_img2.jpg' %}" alt="Picture of the restaurant interior">
      
      </div>

     </div>

  </div>
    <!-- Bottom to top button -->
    <button type="button" class="btn btn-floating btn-lg btn-simple"id="btn-back-to-top">
    <i class="fas fa-arrow-up"></i>
    <span class="visually-hidden">Back to top button</span>
    </button>

</div>

{% endblock %}