{% extends "base.html" %} 
{% load static %} 
{% block content%}

<div class="home-background-container">
    <div class="wrapper col-8 col-md-6 col-lg-4 flex f-column" >
        <div>
            <h2>Welcome to McCarthy's Bistro</h2>
            <p>Food. Fun. Family. Friends</p>
        </div>
        <div>
            <span>Since 2003</span>
        </div>
    </div>
    <div class="row">   
        <div class="col align-self-center">
            <button>Book a Table</button>
        </div>
    </div> 
    <div class="row"> 
        <a href="#"> 
            <div class="arrows-link-container d-none d-lg-block">
                    <div class="arrow arrow-first"></div>
                    <div class="arrow arrow-second"></div>
            </div> 
        </a>
    </div>  
</div>
<div class="content-wrapper">
    <div class="row content col-10 col-lg-9">
        <div class="home-container">
            <h2>Why dine with us?</h2>
            <img src="{% static 'mccarthysbistro/media/heroimage.png' %}" alt="home">
        </div>
    </div>
</div>



<div id="about-us-text">
    <p>
        Welcome to McCarthy's Bistro, Cobh's premier dining destination! Nestled in the picturesque County Cork, Ireland, 
        our restaurant has been delighting locals and visitors alike with our exceptional cuisine and warm hospitality. 
        Step into a world of culinary excellence and embark on a gastronomic journey like no other.
        <br>

        At McCarthy's Bistro, we believe that dining is an art form, and every dish we serve is a masterpiece 
        crafted with passion, creativity, and the finest ingredients. Our dedicated team of talented chefs takes pride 
        in creating innovative and flavoursome dishes that showcase the best of Irish and international flavors, 
        all while embracing the rich culinary heritage of Cobh.
        <br>
        We source the freshest seasonal ingredients from local farmers and producers, ensuring that each 
        plate is bursting with authentic flavors and textures. 
        Whether you're a local resident or a traveler exploring the wonders of Cobh, McCarthy's Bistro invites you 
        to experience the epitome of culinary excellence. Join us for an unforgettable dining experience that celebrates
        the rich flavors of County Cork while embracing the warmth and hospitality that Ireland is renowned for. 
        <br>
        Make a reservation today and let us take you on a culinary journey that will tantalize your taste buds
         and create lasting memories.
    </p>

</div>





{% endblock %}