{% extends "base.html" %}
{% load static %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'booking/css/datepicker.css' %}">
{% endblock %}


{% block content %}
<!-- Create Booking Form -->

<div class="background-container">
    <div class="auth-form col-lg-4">
        <form class="login" method="POST" action="{% url 'createbooking' %}" cenctype="multipart/form-data">
           <div class="input-container">
               <h1 class="decorated">Create a Booking</h1>
                {% csrf_token %}
                {{ form|crispy }}
                {{ form.media }}
                <button type="submit" class="btn authenticate-link">Create</button>
            </div>
        </form>
    </div>
 </div>     

{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
    $('.datepicker').datepicker();
</script>
{% endblock %}