{% extends "base.html" %}
{% load static %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'booking/css/datepicker.css' %}">
{% endblock %}


{% block content %}
<!-- Create Booking Form -->

<div class="background-container">
    <div class="auth-form col-11 col-lg-4">
        <h2 class="decorated"><span>Create Booking</span></h2>
        <div class="input-container">
            <form class="login" method="POST" action="{% url 'createbooking' %}" class="form mb-2 p-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {{ form.media }}
                    <button type="submit" class="btn authenticate-link">Create</button>
            </form>
        </div>
    </div>
 </div>     

{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
    $('.datepicker').datepicker();
</script>
{% endblock %}