{% extends "base.html" %}
{% load static %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'booking/css/datepicker.css' %}">
{% endblock %}


{% block content %}
<!-- Create Booking Form -->
<div class="row content col-10 col-lg-9">
    <div class="center-container auto min-h-100 p-4">
        <div class="booking">
            <form method="POST" action="{% url 'createbooking' %}" class="form mb-2 p-2" enctype="multipart/form-data">
                <h1 class="text-center">Create a Booking</h1>
                {% csrf_token %}
                {{ form|crispy }}
                {{ form.media }}
                <button type="submit" class="btn authenticate-link">Create</button>
            </form>
        </div>
    </div>
</div>      

{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
    $('.datepicker').datepicker();
</script>
{% endblock %}