{% extends 'base.html' %}
{{ form.media }}

{% block content %}	

<div class="background-container">
    <div class="auth-form col-11 col-lg-4">
        <h2 class="decorated"><span>Confirm Booking Deletion</span></h2>
        <div class="input-container">
            <form method="post">
                {% csrf_token %}
                <p>Are you sure you want to delete Booking: "{{ object.pk }}"?</p>
                <p>Customer: {{ object.customer }}</p>
                <p>Table: {{ object.booked_table }}</p>
                <p>Date: {{ object.booking_date }}</p>
                <p>Time: {{ object.get_booking_time_display }}</p>

                <input type="submit" value="Confirm" class="btn authenticate-link">
            </form>
        </div>
    </div>
</div>
{% endblock %}