{% extends "base.html" %}

{% block content %}


    
<div class="background-container">
     <div class="auth-form col-11 col-lg-4">
        <h2 class="decorated"><span>Edit Booking</span></h2 >
        <div class="input-container">
            <form class="login" method="POST" action="{% url 'editbooking' booking.id %}" class="form mb-2 p-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.id }}
                {{ form|crispy }}
                {{ form.media }}
                <button type="submit" class="btn authenticate-link">Create</button>
            </form>
        </div>
    </div>
</div>

{%endblock%}