
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,300;1,400&display=swap');
*{
    box-sizing: border-box;
}


body {
    font-family: 'Merriweather', serif;
    background-color: bisque;
   
}

/* ----------------------HOME PAGE COVER----------------------------- */

#home-background-container {
    height: 100vh;
    background-image: url(https://res.cloudinary.com/aylamccarthy/image/upload/v1686866170/davey-gravy-DmO662qvWO8-unsplash_gylsej.jpg);


}