
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,300;1,400&display=swap');

*{
    box-sizing: border-box;
}

:root {
    /** Fonts **/
    --title: 'Merriweather', serif;
    --main-font: 'Roboto', serif;

    /** Colours**/
    --background: #f7f2ef;
    --orange: #e28306;
    --gray:#393833;
    --green:#3f4a10;
    --black: #000;
    --white: #ffffff;


    /** Utils **/
    --small-box-shadow: 1px -1px 7px 0 #00000061;
    --border: 1px solid #00000030;
}

/* -----------General Styling--------------- */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Lato', serif;
    background-color: var(--background);
    scroll-behavior: smooth;
}


h1, h2, h3, h4, h5, h6 {
    font-family: var(--title);
}

main {
    flex: 1 0 auto;
    background-color: var(--white);
}

.active {
    border-bottom: 2px solid var(--orange);
    font-weight: 500;
}

.form {
    width: 50%;
    margin: 3% auto;
    box-shadow: var(--small-box-shadow);
    border-radius: 5px;

}

.background-container{
    min-height: 90vh;
}

.h-100vh {
    height: 100vh;
}

.h-80vh {
    height: 80vh;
}

.min-h-100 {
    min-height: 100vh;
}

.scroll {
    overflow-y: scroll;
    overflow-x: hidden;
}

/* ----------------------------NAVIGATION BAR-------------------------*/
.logo {
    font-family: 'Merriweather', serif;
}
.navigation {
    padding-left: 20px;
}

.navigation i {
    color: #3a3a3a;
    margin-right: -2px;
}

.navbar {
    background-color: antiquewhite;
    font-family: 'Lato', cursive;
    box-shadow: rgb(0 0 0 / 9%) 0px 2px 1px,
        rgb(0 0 0 / 9%) 0px 4px 2px,
        rgb(0 0 0 / 9%) 0px 8px 4px,
        rgb(0 0 0 / 9%) 0px 16px 8px,
        rgb(0 0 0 / 9%) 0px 32px 16px;
    z-index: 1;
}

.navbar li {
    margin-right: 15px;
    transition: all 0.1s ease-out;
}


.navbar li:hover:not(.active) {
    cursor: pointer;
    transform: scale(1.1);
    overflow: hidden;

}

.nav-link:focus,
.nav-link:hover {
    color: #3a3a3a;
}

.active {
    transform: scale(1.1);
}

.active a {
    color: #3a3a3a;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.offcanvas {
    background-color: antiquewhite;
}


/* ----------------------HOME PAGE COVER----------------------------- */
#home-background-container {
    height: 90vh;
    background-image: url('https://res.cloudinary.com/aylamccarthy/image/upload/v1687872744/fettuccine-with-tomato-sauce-minced-meat-garnished-with-grated-parmesan_1_xklxa6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px,
        rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px,
        rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
    position: relative;
}

.book-btn{
    border: 1px solid #fb5322;
    background-color: var(--green);
    padding: 8px;
    color: #ffffff;
    width: 200px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: rgb(0 0 0 / 30%) 0px 19px 38px, rgb(0 0 0 / 22%) 0px 15px 12px;
    border-radius: 50%;

    transform: scale(1);
    animation: btn-pulse 2.5s infinite;
}
.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


#fade-container {
    padding: 20px 12px;

    background-color: antiquewhite;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    margin-bottom: 20px;

    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#fade-container h1 {
    font-size: 6vh;
}

.slogan {
    font-family: 'Merriweather', cursive;
}

.book-btn:hover{
    animation: none;
}

/* ----------------------REGISTER/LOGIN LINK ANIMATION----------------------------- */

.bck-login {
    background-color: #050301b3;
    color: antiquewhite;
    letter-spacing: 2px;
    padding: 5px;
    margin-bottom: 0;
}

.bck-login p {
    margin: 0;
    font-size: 14px;
}


.authenticate-link {
    color: var(--orange);
    box-shadow: 0 0 0 0 rgb(234, 229, 229);
    transform: scale(1);
    animation: pulse 3s infinite;
    letter-spacing: 2px;
}

.authenticate-link:hover {
    color: var(--background);
}



@keyframes btn-pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(222, 71, 5, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 15px rgba(237, 233, 215, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(222, 71, 5, 0);
    }
}

/* ----------------------BOOKINGS PAGE------------------------------*/
.p-center{
    margin: 0 auto;
}

.btn{
    letter-spacing: 1.5px;

}
.btn:hover{
    color: black;
}

.form-control {
    border: 2px solid #c2c4c6;
    padding: 1px 2px;

    box-shadow: rgb(0 0 0 / 30%) 0px 19px 38px, rgb(0 0 0 / 22%) 0px 15px 12px;
}

.form-control input:hover{
    cursor: pointer;
}

.form-control:focus{

    border: 2px solid #c2c4c6;
    box-shadow: none;
}

input::-webkit-calendar-picker-indicator {
    cursor: pointer;
  }

input[type="number" i] {
    padding: 0px;
}

#flexButtons{
    width: fit-content;
}

#flexButtons button{
    margin: 0px 10px;
}

.messages{
    list-style-type: none;
    padding: 0px;
}
.alert {

    animation: autoHide 0s ease-in 2s forwards;
}

@keyframes autoHide {
    to {
        width:0;
        height:0;
        padding: 0px;
        border: 0px;
        overflow:hidden;
    }
}

input[type=checkbox] {
    transform: scale(1.5);
}

input[type=checkbox]:hover {
    cursor: pointer;
}

#overviewCollapse>span:first-of-type{
    color: #ddeda9;
}


/* ----------------------TEXT DECORATION----------------------------- */
.decorated {
    overflow: hidden;
    text-align: center;
}

.decorated>span {
    position: relative;
    display: inline-block;
}

.decorated>span:before,
.decorated>span:after {
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 2px solid;
    width: 591px;
    margin: 0 20px;
}

.decorated>span:before {
    right: 100%;
}

.decorated>span:after {
    left: 100%;
}

/* ----------------------LOGIN/REGISTER FORM----------------------------- */

.auth-form {
    text-align: center;
    background-color: #140c08b0;
    padding: 70px 20px;
    color: antiquewhite;

    box-shadow: #ffffff 0px 0px 0px 2px,
        rgb(70 42 28) 0px 0px 0px 6px,
        #482b1d 0px 0px 0px 9px,
        rgb(70 42 29) 0px 0px 0px 12px,
        #ffffff 0px 0px 0px 14px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}
/*-----------LOGOUT MODAL---------------*/

.modal {
    background-color: #00000052;

    --bs-modal-bg: antiquewhite;
    --bs-modal-header-border-color: #adb5bd6e;
    --bs-modal-footer-border-color: #adb5bd6e;
}

.close {
    border: 1px solid #adb5bd6e;
    background-color: lightgray;
    font-size: large;
    font-weight: bold;
    padding: 0px 9px;
    border-radius: 50%;
    transition: 0.2s all;
}

.close:hover {
    background-color: rgb(195, 194, 194);
}

.btn-secondary {
    padding: 5px 15px;
    text-transform: uppercase;
    color: white;
    border: transparent;
}

#btn-submit {
    background-color: green;
}

#btn-submit:hover {
    background-color: darkgreen;
}

#btn-cancel {
    background-color: #f64c04db;

}

#btn-cancel:hover {
    background-color: #ce4205db;
}

.background-container {

    padding: 80px 0px;
}

/* -------------Footer---------------- */
footer{
    flex-shrink: 0;
}
.footer {
    z-index: 1;
    background-color: antiquewhite;
    color: #3a3a3a;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

footer a {
    color: var(--green);
}

footer a:hover {
    color: #3a3a3a;
}

footer i:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: #3a3a3a;
}

/* --------------------------------------------------- LARGE DEVICES------------------------------------------------------------------*/

@media (max-width: 1024px) {
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .footer {
        margin-top: auto;
    }

    /* -----------------------NAVBAR---------------------------- */
    .navbar li {
        margin-right: 10px;
    }

    /* -----------------------HOME PAGE ---------------------------- */
    #home-background-container {
        height: 80vh;
    }

    #fade-container h1 {
        font-size: 3.6vh;
    }

    .slogan {
        font-size: 3vh;
    }

    .content {
        box-shadow: 0px 0px 40px 40px #140c08b0;
    }

    .center-container h2 {
        margin-top: 5vh;
        width: 100%;
    }

    #about-us img {
        height: 30vw;
    }


    .background-container {
        padding: 10px 0px;
        min-height: 87vh;
    }


    .form-submit:hover {
        background-color: antiquewhite;
    }

     /* -----------------------BOOKING PAGE---------------------------- */
    .card {
        height: 50vh;
    }

    .table-container {
        grid-template-columns: 35% 30% 25%;
        grid-template-rows: 28% 29% 35%;
    }
}

/* --------------------------------------------------- SMALL AND MEDIUM DEVICES------------------------------------------------------------------*/
@media (max-width: 992px) {
    /* ----------------------NAVBAR----------------------------- */
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .footer {
        margin-top: auto;
    }
    .active {
        transform: scale(1.1) translateX(17px);
    }
    .navbar li:hover:not(.active),
    .navbar li:focus:not(.active) {
        transform: scale(1.1) translateX(17px);
    }
    #home-background-container {
        height: 50vh;
    }
    #fade-container h1 {
        font-size: 3.6vh;
    }
    .slogan {
        font-size: 3vh;
    }
    .content {
        box-shadow: 0px 0px 40px 40px #140c08b0;
    }
    .center-container h2 {
        margin-top: 5vh;
        width: 100%;
    }
    #about-us img {
        height: auto;
        width: 100%;
    }
    .background-container {
        padding: 20px 0px;
    }
    .auth-form {
        left: 50%;
        transform: translateX(-50%);
    }
    .form-submit:hover {
        background-color: antiquewhite;
    }
   
}
/* --------------------------------------------------- SMALL DEVICES------------------------------------------------------------------*/
@media (max-width: 768px) {
     /* -----------------------HOME PAGE---------------------------- */
    #fade-container h1 {
        font-size: 3.6vh;
    }
    .slogan {
        font-size: 3vh;
    }
    .content {
        box-shadow: 0px 0px 20px 20px #140c08b0;
    }
    .content-wrapper {
        min-height: auto;
    }
    .input-container {
        align-items: stretch;
        width: 90%;
    }
    .input-container input {
        width: 100%;
    }
    #id_remember{
        position: relative;
        left: 50%
    }
    .background-container {
        padding: 20px 0px;
    }
    .auth-form {
        min-height: 80vh;
    }
}
 /* -----------------------LOGIN/REGISTER PAGE---------------------------- */
 .input-container {
    align-items: stretch;
    width: 90%;
}

.input-container input {

    width: 100%;
}

.auth-form {
    min-height: 80vh;
    width: 91%;
}
