
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,300;1,400&display=swap');
*{
    box-sizing: border-box;
}

:root {
    /** Fonts **/
    --title: 'Merriweather', serif;
    --main-font: 'Roboto', serif;

    /** Colours**/
    --background: #ffe4c4;
    --orange: #e28306;
    --gray:#393833;
    --green:#3f4a10;
    --black: #000;
}

body {
    font-family: 'Merriweather', serif;
    background-color: #ffe4c4;
   
}

/* ----------------------HOME PAGE COVER----------------------------- */

#home-background-container {
    height: 100vh;
    background-image: url(https://res.cloudinary.com/aylamccarthy/image/upload/v1686866170/davey-gravy-DmO662qvWO8-unsplash_gylsej.jpg);


}