{% extends "base.html" %} 
{% load static %} 

{% block title%}Profile - {{profile.user.username}}{% endblock %}

{% block content %}

<div class="background-container">	
    <div class="auth-form col-11 col-lg-4">
            <h2>Welcome back,</h2>
            <small>{{ user.email }}</small><br><br> 
            <a href="{% url 'update_profile' %}" class="btn form-submit">View Your Profile</a>
            <b></b>
            <div class="input-container">
                <form class="login" method="POST"  enctype="multipart/form-data">
                    {% csrf_token  %}
                    {{form|crispy}}
                    <button type="submit" class="btn form-submit">Update Profile</button> 
                    <a href="{{ cancel_url }}" class="btn form-submit">Cancel</a>
                </form>    
           </div>
    </div>
</div>
<div>
    
</div>
{% endblock %}