{% extends "base.html" %} 
{% load static %} 

{% block title%}Profile - {{profile.user.username}}{% endblock %}

{% block content %}

<div class="row content col-10 col-lg-9">
    <div class="center-container scroll min-h-100 p-4">
        <div class="center-container profile">
            <h2>Welcome back,</h2>
            <small>{{ user.email }}</small><br><br> 
            <a href="{% url 'update_profile' %}" class="btn btn-outline-secondary">View Your Profile</a>
            <a href="{% url 'delete_profile' %}" class="btn btn-outline-danger">Delete Profile</a>
            <b></b>
            <form method="POST"  enctype="multipart/form-data">
                {% csrf_token  %}
                {{form|crispy}}
                
                <button type="submit" class="btn btn-outline-secondary">Update Profile</button> 
                <a href="{% url 'profile' %}" class="btn btn-outline-secondary">Cancel</a>
            </form>      
        </div>
    </div>
</div>
<div>
    
</div>
{% endblock %}