{% extends "base.html" %} 
{% block content%}
<div id="home-background-container">
    <div class="wrapper col-8 col-md-6 col-lg-4 flex f-column">
      <!-- Cover-->
      <div class="row">
        <div id="fade-container">
          <div class="row">
            <!-- Logo title -->
            <div><h1 class="logo">McCarthy's Bistro</h1></div>
            <div>
              <p class="decorated"><span>Since 2003</span></p>
            </div>
          </div>
          <!-- Slogan -->
          <div class="row">
            <div class="col">
              <h3 class="slogan">Food. Fun. Family. Friends</h3>
            </div>
          </div>
        </div>



{% endblock %}