
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,300;1,400&display=swap');

*{
    box-sizing: border-box;
}

:root {
    /** Fonts **/
    --title: 'Merriweather', serif;
    --main-font: 'Roboto', serif;

    /** Colours**/
    --background: #f7f2ef;
    --orange: #e28306;
    --gray:#393833;
    --green:#3f4a10;
    --black: #000;
    --white: #ffffff;


    /** Utils **/
    --small-box-shadow: 1px -1px 7px 0 #00000061;
    --border: 1px solid #00000030;
}

/* -----------General Styling--------------- */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Lato', serif;
    background-color: var(--background);
    scroll-behavior: smooth;
}


h1, h2, h3, h4, h5, h6 {
    font-family: var(--title);
}

main {
    flex: 1 0 auto;
    background-color: var(--white);
}

.active {
    border-bottom: 2px solid var(--orange);
    font-weight: 500;
}

.form {
    width: 50%;
    margin: 3% auto;
    box-shadow: var(--small-box-shadow);
    border-radius: 5px;

}

.background-container{
    min-height: 90vh;
}

/* ----------------------------NAVIGATION BAR-------------------------*/
.navbar {
    box-shadow: var(--small-box-shadow);
    
}
.logo {
    font-family: 'Merriweather', serif;
}

/* ----------------------HOME PAGE COVER----------------------------- */
#home-background-container {
    height: 80vh;
    background-image: url('https://res.cloudinary.com/aylamccarthy/image/upload/v1687872744/fettuccine-with-tomato-sauce-minced-meat-garnished-with-grated-parmesan_1_xklxa6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px,
        rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px,
        rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
    position: relative;
}

.book-btn{
    border: 1px solid #fb5322;
    background-color: var(--green);
    padding: 8px;
    color: #ffffff;
    width: 200px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: rgb(0 0 0 / 30%) 0px 19px 38px, rgb(0 0 0 / 22%) 0px 15px 12px;
    border-radius: 50%;

    transform: scale(1);
    animation: btn-pulse 2.5s infinite;
}

.book-btn:hover{
    animation: none;
}

@keyframes btn-pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(222, 71, 5, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 15px rgba(237, 233, 215, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(222, 71, 5, 0);
    }
}


/* ----------------------BOOKINGS PAGE------------------------------*/
.p-center{
    margin: 0 auto;
}

.btn{
    letter-spacing: 1.5px;

}
.btn:hover{
    color: black;
}

.form-control {
    border: 2px solid #c2c4c6;
    padding: 1px 2px;

    box-shadow: rgb(0 0 0 / 30%) 0px 19px 38px, rgb(0 0 0 / 22%) 0px 15px 12px;
}

.form-control input:hover{
    cursor: pointer;
}

.form-control:focus{

    border: 2px solid #c2c4c6;
    box-shadow: none;
}

input::-webkit-calendar-picker-indicator {
    cursor: pointer;
  }

input[type="number" i] {
    padding: 0px;
}


/* ----------------------TEXT DECORATION----------------------------- */
.decorated {
    overflow: hidden;
    text-align: center;
}

.decorated>span {
    position: relative;
    display: inline-block;
}

.decorated>span:before,
.decorated>span:after {
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 2px solid;
    width: 591px;
    margin: 0 20px;
}

.decorated>span:before {
    right: 100%;
}

.decorated>span:after {
    left: 100%;
}

/* ----------------------LOGIN/REGISTER PAGES ILUSTRATION----------------------------- */
.ilustrate-logo {
    height: 55vh;
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translateY(-50%);
}

/* ----------------------LOGIN/REGISTER FORM----------------------------- */

.auth-form {
    text-align: center;
    background-color: #140c08b0;
    padding: 70px 20px;
    color: antiquewhite;

    box-shadow: #ffffff 0px 0px 0px 2px,
        rgb(70 42 28) 0px 0px 0px 6px,
        #482b1d 0px 0px 0px 9px,
        rgb(70 42 29) 0px 0px 0px 12px,
        #ffffff 0px 0px 0px 14px;

    position: relative;
    left: 15%;
}



/* -------Footer-------- */
.footer {
    z-index: 1;
    background-color: antiquewhite;
    color: #3a3a3a;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

footer a {
    color: var(--green);
}

footer a:hover {
    color: #3a3a3a;
}

footer i:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: #3a3a3a;
}


